<html>

<head>
    <title>
        PyOP
    </title>
</head>

<body>
    <h1>Hello There</h1>
    <h3>This is Python On Pails</h3>
    <h3>Sum of Two Numbers</h3>
    <form method="POST" action="/sum">
        Num1:<input name="a" id="sup" type="text"></br>
        Num2:<input name="b" id="sups" type="text"><br>
        <input id="sub" type="submit">
    </form>

    <h3>Sum of 3 Numbers with square of 4th</h3>
    <form method="POST" action="/sumCustom">
        Num1:<input name="a" id="sup" type="text"></br>
        Num2:<input name="b" id="sups" type="text"></br>
        Num3:<input name="c" id="sups" type="text"></br>
        Num4:<input name="d" id="sups" type="text"></br>
        <input id="sub1" type="submit">
    </form>


</body>

</html>